@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
}

header {
    background-color: white;
    z-index: 10;
    position: relative;
}

nav {
    max-width: 85vw;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: 400;
}

nav ul li {
    opacity: 0.5;
}

button {
    font-weight: 700;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    border: 1px solid white;
    background: linear-gradient(to right,
            hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

nav ul li:hover {
    color: black;
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: hsl(192, 70%, 51%)
}

main {
    background-color: whitesmoke;
}

.one {
    margin-left: 7.5vw;
    height: 70vh;
    display: flex;
    align-items: left;
    flex-direction: column;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.one .left {
    margin-top: 20vh;
}

.one .left h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.one .left div {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
    color: gray;
}

/* .one .right {
    overflow-x: hidden; 
}  */


.one .right .img1 {
    width: 60vw;
    position: relative;
    top: -27vh;
    right: -13vw;
}

.one .right .img2 {
    width: 53vw;
    position: relative;
    top: -120vh;
    right: -12vw;
}


.two {
    background-color: rgb(236, 234, 234);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    max-width: 85vw;
    padding-left: 7.5vw;
}

.two .content h1 {
    font-size: 36px;
    font-weight: 400;
    padding-top: 100px;
}

.two .content div {
    font-size: 16px;
    margin-top: 10px;
    color: gray;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    padding: 40px;
    gap: 20px;
}

.box img {
    width: 5vw;
}

.box h2 {
    font-size: 24px;
    font-weight: 700;
}

.box span {
    font-weight: 300;
    font-size: 16px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.articles {
    height: 85vh;
    background-color: aliceblue;
}

.articles h1 {
    font-size: 48px;
    font-weight: 400;
    padding-top: 10vh;
    padding-left: 7.5vw;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    padding: 2.5vw 0 5vh 7.5vw;
    gap: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: whitesmoke;
}

.card img {
    width: 18vw;
    height: 25vh;
    border-radius: 5px;
}

.card h2 {
    font-size: 24px;
    font-weight: 700;
}

.card span {
    font-size: 16px;
    font-weight: 300;
}

.author {
    font-size: 16px;
    font-weight: 300;
}

footer {
    background-color: hsl(233, 26%, 24%);
    height: auto;
}

.container .toplogo {
    filter: invert(1);
    padding-bottom: 5vh;
}

.logos img {
    padding: 5px;
}

.container {
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10vh;
    color: white;
}

.container ul {
    list-style: none;
    font-size: 18px;
}

.container ul li {
    padding-bottom: 10px;
}

.container ul li:hover {
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}

.copy {
    color: gray;
    padding-top: 20px;
}


#navButton {
    display: none;
}

.hidden {
    display: none;
}

#navOptions {
    position: absolute;
    top: 50px;
    left: 0;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;

}

#navOptions ul {
    list-style-type: none;
    padding: 0;
}

#navOptions ul li {
    margin-bottom: 10px;
}

#navOptions ul li a {
    text-decoration: none;
    color: #333;
}

#navOptions ul li a:hover {
    color: #000;
}

@media screen and (min-width: 1440px) {

    .one{
        height: 500px;
    }

    .two{
        height: 115vh;
    }

    .articles{
        height: 120vh;
    }

    .one .right .img2 {
        overflow-x: hidden;
        width: 500px;
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .one .right .img1 {
        width: 800px;
        position: absolute;
        top: 13px;
        right: 0px;
    }

    .two {
        height: 600px;
    }

    .articles {
        height: 650px;
    }
}
@media screen and (max-width: 1440px) {

    .one{
        height: auto;
    }

    .two{
        height: auto;
    }

    .articles{
        height: auto;
    }

    .one .right .img2 {
        width: 400px;
        position: absolute;
        top: 30px;
        right: 20px;
    }

    .one .right .img1 {
        width: 600px;
        position: absolute;
        top: 13px;
        right: 0px;
    }

    .one .left {
        margin-top: 10vh;
    }

}
@media screen and (max-width: 1220px) {
    .one .left h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .articles {
        height: auto;
        background-color: aliceblue;
    }
}

@media screen and (min-width:601px) and (max-width:999px){
    .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px;
        gap: 20px;
    }

    #navButton {
        display: block;
    }

    .hidden {
        display: none;
    }

    #navOptions {
        width: 80vw;
        position: absolute;
        top: 95px;
        left: 0px;
        right: 30px;
        border-radius: 5px;
        background: #f9f9f9;
        border: 1px solid #ccc;
        padding: 10px;
    }

    #navOptions ul {
        list-style-type: none;
        padding: 0;
        color: black;
        display: flex;
        flex-direction: column;
    }

    .hide {
        display: none;
    }

    #navOptions ul li {
        margin-bottom: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #navOptions ul li a {
        text-decoration: none;
        color: #333;
    }

    #navOptions ul li a:hover {
        color: #000;
    }

    .rj {
        display: none;
        padding: 0px;
        font-size: 0px;
    }

    .one {
        display: flex;
        flex-direction: column-reverse;
    }

    .one .left {
        margin-top: 60vh;
    }

    .one .left h1 {
        font-size: 30px;
    }    

    .one .right .img1 {
        /* width: 473px; */
        height: 85vh;
        position: absolute;
        top: -45px;
        right: 126px;
    }

    .one .right .img2 {
        /* width: 329px; */
        height: 85vh;
        position: absolute;
        top: -84px;
        right: 126px;
    }

}

@media screen and (max-width:600px) {

    #navButton {
        display: block;
    }

    .hidden {
        display: none;
    }

    #navOptions {
        width: 80vw;
        position: absolute;
        top: 95px;
        left: 0px;
        right: 30px;
        border-radius: 5px;
        background: #f9f9f9;
        border: 1px solid #ccc;
        padding: 10px;
    }

    #navOptions ul {
        list-style-type: none;
        padding: 0;
        color: black;
        display: flex;
        flex-direction: column;
    }

    .hide {
        display: none;
    }

    #navOptions ul li {
        margin-bottom: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #navOptions ul li a {
        text-decoration: none;
        color: #333;
    }

    #navOptions ul li a:hover {
        color: #000;
    }

    .rj {
        display: none;
        padding: 0px;
        font-size: 0px;
    }

    /* .one {
        display: flex;
        flex-direction: column;
        margin-left: 7.5vw;
        height: auto;
    }

    .one .right .img1 {
        width: 400px;
        position: absolute;
        top: 0px;
    }

    .one .right .img2 {
        width: 350px;
        position: absolute;
        top: -130px;
    }

    .one .left {
        margin-top: 20vh;
        position: relative;
        top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .one {
        display: flex;
        flex-direction: column-reverse;
    }

    .one .left {
        margin-top: 60vh;
    }
   

    .one .right .img1 {
        /* width: 473px; */
        height: 85vh;
        position: absolute;
        top: -45px;
        right: 6px;
    }

    .one .right .img2 {
        /* width: 329px; */
        height: 85vh;
        position: absolute;
        top: -84px;
        right: 48px;
    }

    .one .left h1 {
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .one .left div {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
        color: gray;
    }

    .two {
        background-color: rgb(236, 234, 234);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .two .content h1 {
        font-size: 36px;
        font-weight: 400;
        padding-top: 34px;
        justify-content: center;
        align-items: center;
        padding-left: 43px;
    }

    .boxes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        max-width: -3px;
        margin-left: -20px;
    }

    .box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .box img {
        width: 23vw;
    }

    .articles {
        height: auto;
        background-color: aliceblue;
    }

    .articles h1 {
        font-size: 48px;
        font-weight: 300;
        padding-top: 9vh;
        padding-left: 11.5vw;
    }

    .cards {
        display: flex;
        flex-direction: column;
        padding: 4.5vw 4.5vw 5vh 4.5vw;
        gap: 30px;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: whitesmoke;
        text-align: center;
    }

    .card img {
        width: auto;
        height: auto;
        border-radius: 15px;
    }

    .card h2 {
        font-size: 21px;
        font-weight: 400;
    }

    footer {
        background-color: hsl(233, 26%, 24%);
        height: auto;
    }

    .container {
        max-width: 80vw;
        margin: auto;
        padding-top: 3vh;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .container div:nth-of-type(3) {
        padding-left: 35px;
    }

    .container button {
        padding-left: 10vw;
    }

    .container div:nth-of-type(4) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
